.container {
  padding: 0 0 5rem 0;
  background: #ffffff;
}

.content {
  width: 960px;
  margin: auto;
}

.textContainer h1 {
  padding: 5rem 0 5rem 0;
}

.employeeList {
  display: flex;
  flex-direction: column;
}

.employeeList li:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: right;
}

@media (max-width: 600px) {
  .content {
    width: auto;
    padding: 1rem;
  }

  .employeeList li:nth-of-type(even) {
    flex-direction: row;
    text-align: left;
  }
}
